/* Extra small devices (phones, 600px and down) */
@mixin xs { 
        @media only screen and (max-width: 576px) {
        @content;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@mixin sm { 
        @media only screen and (min-width: 576px) {
        @content;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@mixin md { 
        @media only screen and (min-width: 768px) {
        @content;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@mixin lg { 
        @media only screen and (min-width: 992px) {
        @content;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@mixin xl { 
        @media only screen and (min-width: 1200px) {
        @content;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@mixin xxl { 
        @media only screen and (min-width: 1400px) {
        @content;
    }
}

@mixin border-radius($numberOfPx) {
    -moz-border-radius: #{$numberOfPx}px;
    -webkit-border-radius: #{$numberOfPx}px;
    -ms-border-radius: #{$numberOfPx}px;
    -o-border-radius: #{$numberOfPx}px;
    border-radius: #{$numberOfPx}px;
}