@import '../../assets/scss/colors';
@import '../../assets/scss/variables';

.layout {
    background-color: $bg-color !important;
    height: 100vh;
    .main {
        margin: 0 auto;
        @include extra-small-devices {
            width: 100%;
        }
        @include small-devices {
            width: 100%;
        }
        @include medium-devices {
            width: 100%;
        }
        @include large-devices {
            width: 800px;
        }
        @include extra-large-devices {
            width: 980px;
        }
        .content {
            width: 100%;
            background-color: $white-color;
            padding: 5%;
        }
    }
}